<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Skup podataka o posjećenim državama</title>
    <meta name="description"
        content="Skup otvorenih podataka sadrži informacije o posjećenim državama i pripadajućim gradovima te ostalim podacim vezanim u putovanje.
     Podaci su strukturirani u obliku baze podataka s dvije glavne tablice: drzave i gradovi." />
    <meta name="author" content="Ema Bradić" />
    <link rel="stylesheet" href="/styles/index.css">
</head>

<body id="indexbody">

    <h1>Skup otvorenih podataka o posjećenim državama</h1>

    <p>Ovaj skup podataka sadrži informacije o 10 posjećenih država i pripadajućim gradovima te ostalim podacim vezanim u putovanje.
        Podaci su strukturirani u obliku baze podataka s dvije glavne tablice: drzave i gradovi. 
    </p>
    <p>- Jezik podataka je hrvatski.</p>
    <p>- Licenca: CCO 1.0</p>
        
    <hr>

    <h2>Opis atributa:</h2>

    <p>grad_naziv: Naziv posjećenog grada</p>
    <p>drzava: Naziv države u kojoj se grad nalazi</p>
    <p>glavni_grad: Glavni grad posjećene države</p>
    <p>jezik: Službeni ili najrasprostranjeniji jezik koji se govori u državi</p>
    <p>trajanje putovanja: Broj dana provedenih na putovanju u državi</p>
    <p>valuta: Službena valuta unutar države</p>
    <p>godina_posjete</p>
    <p>tip_putovanja: (samostalno ili agencijom)</p>
    <p>prijevoz: Prijevozno sredstvo do države koja je odredište</p>
    <p>ocjena: Osobna ocjena dodana putovanju</p>
    <p>broj_stanovnika: Broj stanovnika države</p>
    <p>broj_stanovnika_grada</p>
    <p>aktivnost: Aktivnost odrađena u posjećenom gradu</p>

    <hr>
    
    <p>Dostupni formati: JSON i CSV</p>
    <p>Veličina podataka: 7KB u JSON-u, 3KB u CSV-u</p>

    <a href="/putovanja.csv" download><button>
            Download CSV
        </button>
    </a>
    <a href="/putovanja.json" download><button>
            Download JSON
        </button>
    </a>
    <a href="/datatable"><button>
            Pogledaj tablicu
        </button>
    </a>
</body>
</html>